/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    background-image: url(https://img.freepik.com/free-photo/acrylic-painting-background-black-wallpaper-image_53876-108339.jpg?w=996&t=st=1728124103~exp=1728124703~hmac=278baa17f72fd5bcfd08d783166b40142a717408e273277cdadc748667d55eb6);
}

/* Header Styles */
header {
    background-color: #DDD5D0;;
    color: black;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
    font-size: 2.5em;

}

/* Navigation Styles */
nav {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}

nav ul li a:hover {
    color: #CFC0BD;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    ;
}

.sec {
    border: 2px solid whitesmoke;
}

#te {
    background: #DDD5D0;
    padding: auto;
    margin: auto;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    gap: 20px;
}

button {
    background-color: #CFC0BD;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #CFC0BD;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

footer p {
    margin-bottom: 10px;
}

footer a {
    color: #CFC0BD;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    color: #CFC0BD;
}

